<!DOCTYPE html>
<html>
  <head>
      <style type = "text/css">
        .error {
            color: red;
        }
        #title1 {
            width: 250px;
        }
        #body2 {
            width: 285px; 
            height: 150px;
            margin-top: 20px;
            margin-bottom: 20px;
        } 
        #navright {
            float: right;
        }
      </style>
      <title>{{title}}</title>
  </head>
  <body>
      <nav>
      <span>
          <a href="/">Home</a>&nbsp;
          <a href="/blog">All Posts</a>&nbsp;
          <a href="/newpost">New Post</a>&nbsp;
      </span>
      <span id="navright">
          <a href="/login">Login</a>&nbsp;
          <a href="/logout">Logout</a>
      </span>
      </nav>
        {% block content %}
        {% endblock %}

  </body>
</html>